body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




body {
  background: whitesmoke;
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: #2B6B78;
}

button {
  background: #45A0B2;
  border: 2px, solid, #2B6B78;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  margin-bottom: 2px;
  color: whitesmoke;
  cursor:pointer;
}

button:hover {
  background: #2B6B78;
  color: white;
}

#beehive_logo {
  position: absolute; 
  top: 15px; right: 15px;
}

#terminal1-div button {
  color: whitesmoke;
  border: 1px, solid, lightgray;
}

#main {
  padding: 0px;
  margin: 10px;
}

#device1-div, #bluetooth-services1-div, #terminal1-div {
  margin-top: 3px;
  margin-bottom: 10px;
}

#terminal1-div {
  margin-top: 3px;
  margin-bottom: 2px;
}

#main, #terminal-div, #terminal1-div {
  flex: 1;
  display: flex;
  flex-flow: column;
  height: 100vh;
  min-height: 0;
}

#terminal1-div {
  border: 2px solid gray;
  border-radius: 7px;
  position:relative;
  background: black;
  overflow: hidden;
}

#log_div {
  flex: 1;
  overflow-x: wrap;
  overflow-y: scroll;
  white-space: pre-wrap;
  padding: 5px;
}

#cli-form {
  display: flex;
  flex-flow: column;
}

#stop_cli_button {
  display:none; 
  position:absolute; 
  top: 10px; 
  right: 25px;
}

#command_input {
  flex: 1;
  display: none;
  padding-left: 5px;
  padding-bottom: 5px;
  border: none;
  outline: none !important;
}


#log_div, #command_input {
  color: white;
  font-family: monospace;
  font-size: 1.1em;
  background: black;
  border-radius: 5px;
  margin: 0px;
}

#tilt_angles_div {
  font-family: monospace;
  font-size: 1.1em;
  white-space:pre;
  margin-bottom: 6px;
}

#tilt-explanation {
  margin-top: 10px;
  font-family: monospace;
  font-size: 1.1em;
}

#loader_div {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

  display: none;
  position: fixed;
  z-index: 1; 
  top: 150px;
  left: 20px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}